 <!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-primary">{{user}}</span>, Welcome back</h1>
      <p>.</p>
    </div>

    <!-- statistics data -->
    <div class="statistics">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-users"> </i>
                <h3 class="text-primary number">{{stats.users}}</h3>
                <p class="stat-text">Total Users</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-eye"> </i>
                <h3 class="text-secondary number">{{stats.vendors}}</h3>
                <p class="stat-text">Total Vendors</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 pl-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-cloud-download"> </i>
                <h3 class="text-success number">{{stats.products}}</h3>
                <p class="stat-text">total Products</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-cart"> </i>
                <h3 class="text-danger number">{{stats.orders}}</h3>
                <p class="stat-text">Total orders</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //statistics data -->

    <!-- charts -->
  <div class="row">
    <div class="col-md-6">
    <div class="chart">
      <div class="">
        <div class="chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Pie Chart
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="adminchart"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
             
            </div>
          </div>
        </div>
        
      </div>
    </div>
    </div>
    <div class="col-md-6">
      <div class="chart">
      <div class="">
        <div class="chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              Net Revenue
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="admin-chart-revenue"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
             
            </div>
          </div>
        </div>
        
      </div>
    </div>
      
    </div>
  </div>
    <!-- //charts -->

    <!-- chatting -->
  
    <!-- //chatting -->

    <!-- accordions -->
  
    <!-- //accordions -->

    <!-- modals -->
    
    <!-- //modals -->

  </div>
  <!-- //content -->
</div>
<!-- main content end-->