<div class="main-content">

    <!-- content -->
    <div class="container-fluid content-top-gap">


        <!-- breadcrumbs -->
        <nav aria-label="breadcrumb" class="mb-4">
            <ol class="breadcrumb my-breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forms</li>
            </ol>
        </nav>
        <!-- //breadcrumbs -->
        <!-- forms -->
<section class="forms">
<!-- forms 2 -->
          <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">OrderId</th>
      <th scope="col">Customer</th>
      <th scope="col">Total Price</th>
      <th scope="col">Vendor</th>
      <th scope="col">Delivery Details</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each orders}}
    <tr>
      <th scope="row">{{incremented @index}}</th>
      <td>{{this._id}}</td>
      <td>{{this.userDetails.name}}</td>
      <td>{{this.totalPrice}}</td>
       <td>{{this.product.vendorDetails.owner}}</td>
      <td>{{this.deliveryDetails.address}}</td>
      <td><a href=""><i class="fa fa-arrow-right"></a></i></td>
    </tr>
   {{/each}}
  </tbody>
</table>
            <!-- //forms 2 -->
            </section>
            </div>
            </div>