<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        <div class="ml-auto"><a class="btn btn-info text-white" onclick="editProfile()">Edit</a></div>
      </ol>

    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="/images/profile-images/profile.png" alt="Admin" class="rounded-circle img-fluid"
                width="150">
              <div class="mt-3">
                <form action="/profile-photo" id="file-photo" method="POST" enctype="multipart/form-data">
                  <label for="file">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <input type="file" id="file" style="display: none" name="profile"
                      accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">
                  </label>
                </form>
                <script>document.getElementById("file").onchange = function() {
    document.getElementById("file-photo").submit();
};</script>
                <h4>{{user.name}}</h4>
                <p class="text-secondary mb-1">your address</p>
                <p class="text-muted font-size-sm"></p>

                
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">

        </div>
      </div>



      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <form id="profile-form" action="/update-profile" method="POST">
              <div class="row">

                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>

                <div class="col-sm-9 text-secondary">
                  <input type="text" value="{{user.name}}" name="name" id="profile-user" style="border: hidden;"
                    readonly>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" value="{{user.email}}" name="email" id="profile-email" style="border: hidden;"
                    readonly>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" value="{{user.phone}}" name="phone" id="profile-phone" style="border: hidden;"
                    readonly>
                </div>
              </div>
              <hr>
              <hr>
              <div class="row">

                <div class="col-sm-6 text-secondary">
                </div>

                <button type="submit" id="profile-save" class="btn btn-danger" style="visibility:hidden">Save</button>
            </form>
          </div>
        </div>
      </div>
      <div class="row gutters-sm">
        <div class="col-sm-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Your</i>Addresses <a class=" ml-3" href="/addAddress">Add</a></h6>
              
              <hr>
              {{#each address}}
              <h6>{{incremented @index}} : {{this.place}}, {{this.city}}</h6>
              <a class="text-info" href="/address/{{this._id}}">View</a>
              <a class="text-danger" href="/delete-address/{{this._id}}">Delete</a>
               <hr>
              {{/each}}
             
             
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Your</i>Orders</h6>

              <a href="/orders" class="btn btn-info">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>