<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>MyCart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
     Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/styles/styles/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/styles/styles/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="/styles/styles/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/styles/styles/shop.css" type="text/css" />
	<link rel="stylesheet" href="/styles/styles/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/styles/styles/owl.theme.css" type="text/css" media="all">
	<link href="/styles/styles/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/styles/styles/flexslider.css" type="text/css" media="screen" />
	<link href="/styles/styles/style.css" rel='stylesheet' type='text/css' />
	<link href="/styles/styles/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">
	<script src="https://use.fontawesome.com/6119aa66b0.js"></script>
</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				{{#if user}}
				<div class="col-md-3 top-info text-left mt-lg-4">
					<a href="/profile">
						<h6>Hello</h6>
					</a>
					<ul>
						<li>
							<a> <i class=""></i> {{user.name}}
						</li></a>
						<br>
						<a href="/logout">
							<li class="number-phone mt-3">Logout</li>
						</a>
					</ul>
				</div>
				{{else}}
				<div class="col-md-3 top-info text-left mt-lg-4">
					<a href="/signup">
						<h6>Sign Up</h6>
					</a>
					<ul>
						<li>
							<a href="/login"> <i class="fas fa-phone"></i> Log
						</li>
						<li class="number-phone mt-3">In</li></a>
					</ul>
				</div>

				{{/if}}
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="/">
							MyCart </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li class="button-log">
							<a class="btn-open" href="#">
								<span class="fa fa-user" aria-hidden="true"></span>
							</a>
						</li>
						<li class="galssescart galssescart2 cart cart box_1">
							<div>
								<a href="/profile">Profile</a>
							</div>
							<form action="#" method="post" class="last">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="display" value="1">
								<a class="top_googles_cart" href="/cart">
									My Cart
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
									{{#if cartCount}}
									<span id="cartCount">{{cartCount}}</span>
									{{else}}
									<span id="cartCount">0</span>
									{{/if}}
								</a>
							</form>
						</li>
					</ul>
					<!---->
					<div class="overlay-login text-left">
						<button type="button" class="overlay-close1">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<div class="wrap">
							<h5 class="text-center mb-4">Login Now</h5>
							<div class="login p-5 bg-dark mx-auto mw-100">
								<form action="/login" method="post">
									<div class="form-group">
										<label class="mb-2">Email address</label>
										<input type="email" name="email" class="form-control" id="exampleInputEmail1"
											aria-describedby="emailHelp" placeholder="" required>
										<small id="emailHelp" class="form-text text-muted">We'll never share your email
											with anyone else.</small>
									</div>
									<div class="form-group">
										<label class="mb-2">Password</label>
										<input type="password" name="password" class="form-control"
											id="exampleInputPassword1" placeholder="" required="">
									</div>
									<div class="form-check mb-2">

									</div>
									<button type="submit" class="btn btn-primary submit mb-4">Sign In</button>

								</form>
							</div>
							<!---->
						</div>
					</div>
					<!---->
				</div>
			</div>
			<div class="search">
				<div class="mobile-nav-button">
					<button id="trigger-overlay" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
				<!-- open/close -->
				<div class="overlay overlay-door">
					<button type="button" class="overlay-close">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					<form action="#" method="post" class="d-flex">
						<input class="form-control" type="search" placeholder="Search here..." required="">
						<button type="submit" class="btn btn-primary submit">
							<i class="fas fa-search"></i>
						</button>
					</form>

				</div>
				<!-- open/close -->
			</div>
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">

					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Features
							</a>
							<ul class="dropdown-menu mega-menu ">
								<li>
									
									<hr>
								</li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Shop
							</a>
							<ul class="dropdown-menu mega-menu ">
								<li>
									<div class="row">
										
										
							
									</div>
									<hr>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/sell">Sell</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner -->

	</div>
	<!--//banner-sec-->
	{{{body}}}
	<!-- about -->
	<!--footer -->
	<footer class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row footer-top-w3layouts">
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one
							store to another in search of the latest phone when you can find it on the Internet in a
							single click.</p>
						<ul class="footer-social text-left mt-lg-4 mt-3">

							<li class="mx-2">
								<a href="#">
									<span class="fab fa-facebook-f"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-twitter"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-google-plus-g"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-linkedin-in"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fas fa-rss"></span>
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									<span class="fab fa-vk"></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p>The X building, Silicon Valey, California.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone :+007 12345678</p>
							<p>Email :
								<a href="mailto:info@example.com">mycart@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Quick Links</h3>
					</div>
					<ul class="links">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/error">Error</a>
						</li>
						<li>
							<a href="/shop">Shop</a>
						</li>
						<li>
							<a href="/contact">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Sign up for your offers</h3>
					</div>
					<div class="footer-text">
						<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
						<form action="#" method="post">
							<input class="form-control" type="email" name="Email" placeholder="Enter your email..."
								required="">
							<button class="btn1">
								<i class="far fa-envelope" aria-hidden="true"></i>
							</button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="copyright-w3layouts mt-4">
				<p class="copy-right text-center ">&copy; 2020 MyCart. All Rights Reserved | Design by
					<a href="http://w3layouts.com/"> W3layouts </a>
				</p>
			</div>
		</div>
	</footer>
	<!-- //footer -->

	<!--jQuery-->
	<script src="/scripts/scripts/jquery-2.2.3.min.js"></script>
	<!-- newsletter modal -->
	<!-- Modal -->


	<!-- Modal -->

	<script>
		$(document).ready(function () {
			$("#myModal").modal();
		});
	</script>
	<!-- // modal -->

	<!--search jQuery-->
	<script src="/scripts/scripts/modernizr-2.6.2.min.js"></script>
	<script src="/scripts/scripts/classie-search.js"></script>
	<script src="/scripts/scripts/demo1-search.js"></script>
	<!--//search jQuery-->
	<!-- cart-js -->
	<script src="/scripts/scripts/minicart.js"></script>
	<script>
		googles.render();

		googles.cart.on('googles_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) { }
			}
		});
	</script>

	<!-- //cart-js -->
	<script>
		$(document).ready(function () {
			$(".button-log a").click(function () {
				$(".overlay-login").fadeToggle(200);
				$(this).toggleClass('btn-open').toggleClass('btn-close');
			});
		});
		$('.overlay-close1').on('click', function () {
			$(".overlay-login").fadeToggle(200);
			$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
			open = false;
		});
	</script>
	<!-- carousel -->
	<!-- Count-down -->
	{{!--
	<script src="/scripts/scripts/simplyCountdown.js"></script> --}}
	<link href="/styles/styles/simplyCountdown.css" rel='stylesheet' type='text/css' />
	<script>
		var d = new Date();
		simplyCountdown('simply-countdown-custom', {
			year: d.getFullYear(),
			month: d.getMonth() + 2,
			day: 25
		});
	</script>
	<script src="/scripts/scripts/jquery-ui.js"></script>
	<script>
		//<![CDATA[ 
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 9000,
				values: [50, 6000],
				slide: function (event, ui) {
					$("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
				}
			});
			$("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!--// Count-down -->
	<script src="/scripts/scripts/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 2,
						nav: false
					},
					900: {
						items: 3,
						nav: false
					},
					1000: {
						items: 4,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>

	<!-- //end-smooth-scrolling -->
	<script src="/scripts/scripts/imagezoom.js"></script>
	<script src="/scripts/scripts/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!-- FlexSlider -->
	<script src="/scripts/scripts/jquery.flexslider.js"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider1').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->


	<!-- dropdown nav -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //dropdown nav -->
	<script src="/scripts/scripts/move-top.js"></script>
	<script src="/scripts/scripts/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			/*
									var defaults = {
										  containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
									 };
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!--// end-smoth-scrolling -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
	<script src="/scripts/scripts/bootstrap.js"></script>
	<!-- js file -->

	<script>
		function checkPhone() {
  
  var phone = document.getElementById('phonenum').value
  var error = false
  console.log(phone)
 $.ajax({
   url:"/check",
   data:{phone:phone},
   method:'POST',
   success:(response) => {
     if(response.status) {
       document.getElementById('otp-div').style.visibility="visible"
        error = false
     }
     else {
       document.getElementById('err').innerHTML = "In valid erro"
       error = true
       

     }
   }
 })
}
		$("#login-form").validate({
			rules: {

			
				password: {
					required: true,

				}
			}



		});

		$("#signup-form11").validate({
			rules: {

				name: {
					required: true
				},
				email: {
					required: true,
					email: true

				},	
				phone:{
					required:true,
				},
				password: {
					required: true,

				}

			},
			submitHandler: (form, e) => {
				console.log("signup checking")
				e.preventDefault();
				$.ajax({
					url: "/checkSignup",
					data: $('#signup-form11').serialize(),
					method: "POST",
					success: function (response) {
						console.log(response)
						if (response.emailExist) {
							document.getElementById('existError').innerHTML = "Email already Exist"
						} else {
							document.getElementById('otp-form').style.visibility = 'visible'
							document.getElementById("signup-form11").style.visibility = 'hidden'
			                document.getElementById('otp-phone').value = response.phone
							
						}
					},
					error: function (err) {
						console.log(err)
						alert("Something Error :")

					}
				})
			}


		});

		function addToCart(e, id) {
			e.preventDefault();
			console.log("hellll")
			console.log(id)

			$.ajax({
				url: '/add-to-cart',
				method: "post",
				data: { productId: id },
				success: (response) => {
					if (!response.user) {
						window.location.href = '/login'
					}

					else {
						var num = document.getElementById('cartCount').innerHTML
						document.getElementById('cartCount').innerHTML = parseInt(num) + 1
						document.getElementById('cart-Button' + id).innerHTML = ""
						console.log("added")

					}

				}

			})

			return false; // for good measure


		}
		function changeQuantity(productId, productPrice, num) {
			console.log(productId, num, productPrice)
			var currentQuantity = parseInt(document.getElementById(productId).innerHTML)
			num = parseInt(num)
			$.ajax({
				url: '/change-product-quantity',
				data: { productId: productId, quantity: num, currentQuantity: currentQuantity },
				method: 'post',
				success: (response) => {
					if (response.status) {
						console.log('worked')

						document.getElementById(productId).innerHTML = num + currentQuantity
						document.getElementById('total-price').innerHTML = parseInt(document.getElementById('total-price').innerHTML) + (parseInt(productPrice) * num)

					}
					else if (response.removeProduct) {
						alert('product Removed from the cart')
						location.reload()
					}

				}
			})

		}
		function removeProduct(productId) {
			$.ajax({
				url: '/remove-cart-product',
				data: { productId: productId },
				method: 'post',
				success: (response) => {
					if (response.removeProduct) {
						alert('product Removed from the cart')
						location.reload()
					}

				}
			})
		}

	</script>

	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script
		src="https://www.paypal.com/sdk/js?client-id=AW57sRTh1bcdLwTfnEOWm0shusbLTMmRRrke3n_xRGgIUglC0WO7rzrH6dDbj24ivxBqLEyEAVUyCo-P"
		data-namespace="paypal_sdk"></script>


	<script>
		function selectAddress(e,id) {
			e.preventDefault()
			console.log(id)
			var place = document.getElementById(id+'place').innerHTML
			var city = document.getElementById(id+'city').innerHTML
			var state = document.getElementById(id+'state').innerHTML
			var pincode = document.getElementById(id+'pincode').innerHTML
			console.log(place, city, state, pincode)
			document.getElementById('address').value = place
			document.getElementById('city').value = city
			document.getElementById('state').value  = state
			document.getElementById('pincode').value = pincode
			}
		console.log($("#credit").prop("checked"))
		function MyFunction() {
			if($("#save-info").prop("checked")) {
				console.log("hello")
				$.ajax({
					url:'/save-address',
					data:{

			place:document.getElementById('address').value,
			city:document.getElementById('city').value,
			state:document.getElementById('state').value,
			pincode:document.getElementById('pincode').value
					},
					method:'POST',
					success:(response) => {
						console.log(response)
					}
				})
			}
			if ($("#credit").prop("checked")) {
			 console.log("hello")
			 document.getElementById("checkout-submit").style.visibility="visible"
			 document.getElementById("checkout-submit").innerHTML="continue with Cash On Delivery"

   // do something
}
else if($("#paypal").prop("checked")) {
	 console.log("hello")
   // do something
   document.getElementById("checkout-submit").style.visibility="visible";
   console.log(document.getElementById("checkout-submit").innerHTML)
   document.getElementById("checkout-submit").innerHTML="continue with Paypal"
}
else if(document.getElementById("razorpay").checked) {
   // do something
   console.log("hello")
   document.getElementById("checkout-submit").style.visibility="visible";
   document.getElementById("checkout-submit").innerHTML="continue with Razorpay"
}
		}
		$('#place-order').validate({
			rules: {

				email: {
					required: true,
					email: true,
				},
				mobile:{
					required:true,
		            maxlength:10,
					minlength:10
				}



			},
			submitHandler: (form, e) => {
				e.preventDefault();
				$.ajax({
					url: '/place-order',
					data: $('#place-order').serialize(),
					method: 'POST',
					success: (response) => {
						console.log(response)
						if (response.cod) {

							console.log("cod paid")
							location.href = '/success/'+response.orderId
							
						}
						else if (response.paypal) {
							document.getElementById('checkout-submit').style.visibility = "hidden";
							document.getElementById('paypal-continue').style.visibility = "visible";
							var order = response.orderdetails
							paypal_sdk.Buttons({

								createOrder: function (data, actions) {
									console.log(data)
									console.log(actions)
									console.log(order)
									// This function sets up the details of the transaction, including the amount and line item details.
									return actions.order.create({
										purchase_units: [{
											amount: {
												value: order.totalPrice
											}
										}]
									});
								},
								onApprove: function (data, actions) {
									// This function captures the funds from the transaction.
									return actions.order.capture().then(function (details) {
										console.log(details)
										// This function shows a transaction success message to your buyer.
										location.href='/success/'+order._id

									});
								},
								onCancel: function (data) {
									// Show a cancel page, or return to cart
									console.log(data)
									window.location.href = '/failed'
									

								},
								onError: function (err) {
									alert("Payment Please Try Again")
									// For example, redirect to a specific error page
									window.location.href = "/failed";
								}
							}).render('#paypal-payment-button');
						}
						else if (response.razorpay) {
							console.log(response.order)


							if(document.getElementById('checkout-submit').style.visibility === "hidden") {
								document.getElementById('checkout-submit').style.visibility = "visible"
							}

							var order = response.order
							var options = {
								"key": "rzp_test_HvTWeRWYRE4mtd", // Enter the Key ID generated from the Dashboard
								"amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
								"currency": "INR",
								"name": "MyCart",
								"description": "Test Transaction",
								"image": "https://example.com/your_logo",
								"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
								"handler": function (response) {
									alert('payment Successful')
									verifyPayment(response, order)
								},
								"prefill": {
									"name": "MyCart",
									"email": "MyCart@example.com",
									"contact": "9999999999"
								},
								"notes": {
									"address": "Razorpay Corporate Office"
								},
								"theme": {
									"color": "#3399cc"
								}
							};
							var rzp1 = new Razorpay(options);
							rzp1.on('payment.failed', function (response) {
								paymentFailed()
							});
							rzp1.open();
							function verifyPayment(payment, order) {
								$.ajax({
									url: '/verify-payment',
									data: {
										payment, order
									},
									method: 'post',
									success: (response) => {
										if (response.payment){
                                         console.log('payment Succesful')
											location.href = '/success'
										}
										else {
											location.href = '/failed'
										}
											
									}
								})
							}

						}

					}


				})

			}
		})
	</script>
	<script>
		
		function editProfile() {
			$('#profile-form :input').css({"border": "aliceblue", "border-style": "outset"});
			$('#profile-form :input').prop('readonly', false);
			$('#profile-save').css("visibility","visible");
    

		}
		$('#profile-form').validate({
			rules: {

				name: {
					required: true,
					
				},
				email: {
					required: true,
					email: true

				},
				phone: {
					required: true,
					number:true,
					maxlength:10

				}

			},
			

		})
	</script>
</body>

</html>