<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>MyCart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
     Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/styles/styles/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/styles/styles/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="/styles/styles/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/styles/styles/shop.css" type="text/css" />
	<link rel="stylesheet" href="/styles/styles/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/styles/styles/owl.theme.css" type="text/css" media="all">
	<link href="/styles/styles/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/styles/styles/flexslider.css" type="text/css" media="screen" />
	<link href="/styles/styles/style.css" rel='stylesheet' type='text/css' />
	<link href="/styles/styles/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
		rel="stylesheet">
	<script src="https://use.fontawesome.com/6119aa66b0.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css"
		integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">

</head>

<body>
	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				{{#if user}}
				<div class="col-md-3 top-info text-left mt-lg-4">
					<a href="/profile">
						<h6>Hello</h6>

					</a>
					<ul>
						<li>
							<a> <i class=""></i> {{user.name}}
						</li></a>
						<br>
						<a href="/logout">
							<li class="number-phone mt-3">Logout</li>
						</a>
					</ul>
				</div>
				{{else}}
				<div class="col-md-3 top-info text-left mt-lg-4">
					<a href="/signup">
						<h6>Sign Up</h6>
					</a>
					<ul>
						<li>
							<a href="/login"> <i class="fas fa-phone"></i> Log
						</li>
						<li class="number-phone mt-3">In</li></a>
					</ul>
				</div>

				{{/if}}
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="/">
							MyCart </a>
					</h1>


				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li class="button-log">
							<a class="btn-open" href="#">

							</a>
						</li>
						<li class="galssescart galssescart2 cart cart box_1">
							<div>
								<a href="/profile" style="color: #828284;">Profile</a>
							</div>
							<form action="#" method="post" class="last">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="display" value="1">
								<a class="top_googles_cart" href="/cart" style="color: #828284;">
									My Cart
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
									{{#if cartCount}}
									<span id="cartCount">{{cartCount}}</span>
									{{else}}
									<span id="cartCount">0</span>
									{{/if}}
								</a>
							</form>
						</li>
					</ul>
					<!---->
					<div class="overlay-login text-left">
						<button type="button" class="overlay-close1">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<div class="wrap">
							<h5 class="text-center mb-4">Login Now</h5>
							<div class="login p-5 bg-dark mx-auto mw-100">
								<form action="/login" method="post">
									<div class="form-group">
										<label class="mb-2">Email address</label>
										<input type="email" name="email" class="form-control" id="exampleInputEmail1"
											aria-describedby="emailHelp" placeholder="" required>
										<small id="emailHelp" class="form-text text-muted">We'll never share your email
											with anyone else.</small>
									</div>
									<div class="form-group">
										<label class="mb-2">Password</label>
										<input type="password" name="password" class="form-control"
											id="exampleInputPassword1" placeholder="" required="">
									</div>
									<div class="form-check mb-2">

									</div>
									<button type="submit" class="btn btn-primary submit mb-4">Sign In</button>

								</form>
							</div>
							<!---->
						</div>
					</div>
					<!---->
				</div>
			</div>
			{{#if search}}
			<div class="ml-auto col-md-3">
				<input id="searchProducts" class="searchBox form-control  ml-auto" type="search" placeholder="Search"
					aria-label="Search" style="width: auto;
    height: 31px;
    margin-right: -30px;
    border-radius: 50px;
    border-color: #ff4e00;">
				{{/if}}


			</div>
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">

					</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav nav-mega mx-auto">
						<li class="nav-item ">
							<a class="nav-link ml-lg-0" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
					
						
					
					</ul>

				</div>
			</nav>
		</header>
		<!-- //header -->
		<!-- banner -->

	</div>
	<!--//banner-sec-->
	{{{body}}}
	<!-- about -->
	<!--footer -->
	<footer class="py-lg-5 py-3">
		<div class="container-fluid px-lg-5 px-3">
			<div class="row footer-top-w3layouts">
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>E-commerce is revolutionizing the way we all shop in India. Why do you want to hop from one
							store to another in search of the latest phone when you can find it on the Internet in a
							single click.</p>
						<ul class="footer-social text-left mt-lg-4 mt-3">

							<li class="mx-2">
								<a href="#">
									
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
							
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
									
								</a>
							</li>
							<li class="mx-2">
								<a href="#">
								
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p>The X building, Silicon Valey, California.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone :+007 12345678</p>
							<p>Email :
								<a href="mailto:info@example.com">mycart@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Quick Links</h3>
					</div>
					<ul class="links">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/error">Error</a>
						</li>
						<li>
							<a href="/">Shop</a>
						</li>
						<li>
							<a href="/contact">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Sign up for your offers</h3>
					</div>
					<div class="footer-text">
						<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
						
					</div>
				</div>
			</div>
			<div class="copyright-w3layouts mt-4">
				<p class="copy-right text-center ">&copy; 2020 MyCart. All Rights Reserved | Design by
					<a href="http://w3layouts.com/"> W3layouts </a>
				</p>
			</div>
		</div>
	</footer>
	<!-- //footer -->


</body>

</html>